<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93852147265-h8t6si9jv5uosu5hc7deapkmes57m40j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93852147265-h8t6si9jv5uosu5hc7deapkmes57m40j</string>
	<key>API_KEY</key>
	<string>AIzaSyClslkFqjUHLWHqN9pHPjHPAegTQy4yeYc</string>
	<key>GCM_SENDER_ID</key>
	<string>93852147265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jerryrox.expensetracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-d6842</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-d6842.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93852147265:ios:ee7ac31905dfff8660f0c0</string>
</dict>
</plist>